.results-title {
  text-align: center;
}

.results-message {
  text-align: center;
}

.results-group {
  border: 1px solid var(--mond-colors-gray-300);
}

.results-group.yellow {
  background-color: #f7dc6f;
}

.results-group.green {
  background-color: #52be80;
}

.results-group.blue {
  background-color: #5dade2;
}

.results-group.purple {
  background-color: #af7ac5;
}

.results-group-films {
  opacity: 0.8;
  margin-top: 0.25rem;
}

.share-section {
  background-color: var(--mond-colors-gray-100);
  margin-bottom: 1rem;
}

.share-text {
  font-family: monospace;
  font-size: 1.125rem;
  white-space: nowrap;
  flex: 1;
}

.stats-section {
  background-color: var(--mond-colors-gray-100);
  margin-bottom: 1rem;
}

.stat-number {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .share-section {
    background-color: var(--mond-colors-gray-800);
  }

  .stats-section {
    background-color: var(--mond-colors-gray-800);
  }
}
